h1{
    width: 3000px;
    height: 100;
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}

p{
    width: 800px;
    height: 100px;
    color: blue;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

li{
    width: 800px;
    height: 20px;
    color: black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif
}


